script(type='text/x-handlebars', data-template-name='home')
  .navbar.navbar-fixed-top
    a(href='https://github.com/tUrG0n/portfolio')
      img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')
    nav
      ul.clearfix
        <li class="active"><a href="#" {{action gotoHome}}>Home</a></li>
        li
          a.nav-blog(href="http://blog.piotry.me") Blog
        <li><a href="#" {{action gotoMusic}} >Music</a></li>
        <li><a href="#" {{action gotoPortfolio}} >Portfolio</a></li>
        <li><a href="#" {{action gotoAbout}} >About</a></li>
  .container
    header#overview.jumbotron.head
      h2 Hi! I'm Piotr
      h2 This website is under heavy development.

  .row-fluid
    .span2
    .span2
      .legend
          h1 My skills:
          .skills
            ul
              li.coffee Coffeescript
              li.node Node.js
              li.mongo Mongodb
              li.zic Music
    .span5
      #diagram
      .get
        .arc
          span.text Music
          input.percent(type='hidden', value='93')
          input.color(type='hidden', value='#BEDBE9')
        .arc
            span.text Coffeescript
            input.percent(type='hidden', value='85')
            input.color(type='hidden', value='#97BE0D')
        .arc
          span.text Node.js
          input.percent(type='hidden', value='70')
          input.color(type='hidden', value='#D84F5F')
        .arc
          span.text Mongodb
          input.percent(type='hidden', value='40')
          input.color(type='hidden', value='#88B8E6')
    .span3
      #twitter
        h1 Tweets
        #tweets
