script(type='text/x-handlebars', data-template-name='music-menu')
  .navbar.navbar-fixed-top
    nav
      ul.clearfix
        <li><a href="#" {{action gotoHome}}>Home</a></li>
        li
          a.nav-blog(href="http://blog.piotry.me") Blog
        <li class="active"><a href="#" {{action gotoMusic}} >Music</a></li>
        <li><a href="#" {{action gotoPortfolio}} >Portfolio</a></li>
        <li><a href="#" {{action gotoAbout}} >About</a></li>


script(type='text/x-handlebars', data-template-name='Music')
  {{view App.MusicMenuView}}
  .container
    header#overview.jumbotron.head
      h1 Music I produce

  .container.show-grid
    ul.nav.nav-tabs
      <li class="active"><a href="#" {{action gotoMain}}>Main</a></li>
      <li><a href="#" {{action gotoSoundCloud}}>Soundcloud</a></li>
      <li><a href="#" {{action gotoYoutube}}>Youtube</a></li>
      li
        a.nav-about(href='/music') Timeline
  .row-fluid
    .span3
    .span6
      h1 Overview
      p I've been playing the piano since the age of 5. My favorite play style is jazz.
      p My recordings are online! Check them out ^^
      br
      ul.polaroids
        <li> <a href="#" {{action gotoSoundCloud}}><img class="soundLink"></a> </li>
        <li> <a href="#" {{action gotoYoutube}}><img class="youtube"></a> </li>
        <li> <a href="/music" ><img src="/images/timeline.png">Timeline </a></li>

      
    .span3


script(type='text/x-handlebars', data-template-name='youtube')
  {{view App.MusicMenuView}}
  .container
    header#overview.jumbotron.head
      h1 Music I produce

  .container.show-grid
    ul.nav.nav-tabs
      <li><a href="#" {{action gotoMain}}>Main</a></li>
      <li><a href="#" {{action gotoSoundCloud}}>Soundcloud</a></li>
      <li class="active"><a href="#" {{action gotoYoutube}}>Youtube</a></li>
      li
        a.nav-about(href='/music') Timeline
  .container
    <iframe width="420" height="315" src="http://www.youtube.com/embed/HOIZ4xra2eA" frameborder="0" allowfullscreen></iframe>
    <iframe width="420" height="315" src="http://www.youtube.com/embed/49WVV9JU-Ec" frameborder="0" allowfullscreen></iframe>
    <iframe width="520" height="415" src="http://www.youtube.com/embed/0_UXTwJ2X48" frameborder="0" allowfullscreen></iframe>


script(type='text/x-handlebars', data-template-name='soundCloud')
  {{view App.MusicMenuView}}
  .container
    header#overview.jumbotron.head
      h1 Music I produce

  .container.show-grid
    ul.nav.nav-tabs
      <li><a href="#" {{action gotoMain}}>Main</a></li>
      <li class="active"><a href="#" {{action gotoSoundCloud}}>Soundcloud</a></li>
      <li><a href="#" {{action gotoYoutube}}>Youtube</a></li>
      li
        a.nav-about(href='/music') Timeline
  .show-grid
    .row-fluid.show-grid
      .span1
      .span5
        <iframe width="100%" height="330" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F2150116&show_artwork=true"></iframe>
      .span5
        <iframe width="100%" height="320" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F2125686&show_artwork=true"></iframe>
      .span1
