script(type='text/x-handlebars', data-template-name='portfolio')
  .navbar.navbar-fixed-top
    nav
      ul.clearfix
        <li><a href="#" {{action gotoHome}}>Home</a></li>
        li
          a.nav-blog(href="http://blog.piotry.me") Blog
        <li><a href="#" {{action gotoMusic}} >Music</a></li>
        <li class="active"><a href="#" {{action gotoPortfolio}} >Portfolio</a></li>
        <li><a href="#" {{action gotoAbout}} >About</a></li>

  .row-fluid
    .span8
      ul.polaroids
          li
              a(href='http://www.flickr.com/photos/zurbinc/3971679981/', title='Roeland!')
                img(src='/playground/playground/css3-polaroids/image-01.jpg', alt='Roeland!')
            li
              a(href='http://www.flickr.com/photos/zurbinc/3985295842/', title='Discussion')
                img(src='/playground/playground/css3-polaroids/image-02.jpg', alt='Discussion')
            li
              a(href='http://www.flickr.com/photos/zurbinc/3993123611/', title='A Hearty Laugh')
                img(src='/playground/playground/css3-polaroids/image-03.jpg', alt='A Hearty Laugh')
            li
              a(href='http://www.flickr.com/photos/zurbinc/4001991326/', title='Evil Matt Coding')
                img(src='/playground/playground/css3-polaroids/image-04.jpg', alt='Evil Matt Coding')
            li
              a(href='http://www.flickr.com/photos/zurbinc/4001992350/', title='Amanda Glares...')
                img(src='/playground/playground/css3-polaroids/image-05.jpg', alt='Amanda Glares...')
            li
              a(href='http://www.flickr.com/photos/zurbinc/4001229589/', title='Scribble scribble...')
                img(src='/playground/playground/css3-polaroids/image-06.jpg', alt='Scribbles')
            li
              a(href='http://www.flickr.com/photos/zurbinc/3957026139/', title='The Dougernaut')
                img(src='/playground/playground/css3-polaroids/image-07.jpg', alt='The Dougernaut')
            li
              a(href='http://www.flickr.com/photos/zurbinc/3428777148/', title='I See You!')
                img(src='/playground/playground/css3-polaroids/image-08.jpg', alt='I See You!')
            li
              a(href='http://www.flickr.com/photos/zurbinc/3799720274/', title='Rock Hard Balls')
                img(src='/playground/playground/css3-polaroids/image-09.jpg', alt='Rock Hard Balls')
            li
              a(href='http://www.flickr.com/photos/zurbinc/3799719490/', title='Bocce Ball')
                img(src='/playground/playground/css3-polaroids/image-10.jpg', alt='Bocce Ball')
            li
              a(href='http://www.flickr.com/photos/zurbinc/3888563172/', title='Boris "Tatooine"')
                img(src='/playground/playground/css3-polaroids/image-11.jpg', alt='Boris "Tatooine"')
            li
              a(href='http://www.flickr.com/photos/zurbinc/3427934527/', title='Sneakers & Stilettos')
                img(src='/playground/playground/css3-polaroids/image-12.jpg', alt='Sneakers & Stilettos')
    .span4
      #git
        h1 Fork me!
        #github
