script(type='text/x-handlebars', data-template-name='portfolio')
  .navbar.navbar-fixed-top
    nav
      ul.clearfix
        <li><a href="#" {{action gotoHome}}>Home</a></li>
        li
          a.nav-blog(href="http://blog.piotry.me") Blog
        <li><a href="#" {{action gotoMusic}} >Music</a></li>
        <li class="active"><a href="#" {{action gotoPortfolio}} >Portfolio</a></li>
        <li><a href="#" {{action gotoAbout}} >About</a></li>

  .row-fluid
    .span1
    .span7
      ul.polaroids
          li
            a(href='http://www.flickr.com/photos/zurbinc/3971679981/', title='Banksim')
              img(src='/images/bank.png', alt='Banksim')
          li
            a(href='http://www.flickr.com/photos/zurbinc/3985295842/', title='Nodejs-Forms')
              img(src='/images/forms.png', alt='Nodejs-Forms')
          li
            a(href='http://www.flickr.com/photos/zurbinc/3993123611/', title='Nodejs-helpers')
              img(src='/images/nodejs-helpers.png', alt='Nodejs-helpers')
          li
            a(href='http://www.flickr.com/photos/zurbinc/4001991326/', title='Server scripts')
              img(src='/images/server-scripts.png', alt='Server scripts')
          li
            a(href='http://www.flickr.com/photos/zurbinc/4001992350/', title='Emberjs Samples')
              img(src='/images/emberjs-samples.png', alt='Emberjs Samples')
    .span4
      #git
        h1 Fork me!
        #github
