table
  tr
    th Server
    td
      a(href='http://nodejs.org/') Node.js
    td
      a(href='http://expressjs.com/') express.js
    td
      a(href='http://brunch.io') brunch.io

table
  tr
    th MVC
    th Templating
    th Libraries
  tr
    td
     a(href='http://emberjs.com/') Ember.js
    td
     a(href='http://learnboost.github.com/stylus/') stylus
    td
     a(href='http://twitter.github.com/bootstrap/') twitter-bootstrap
  tr
    td
     a(href='http://coffeescript.org/') coffeescript
    td
     a(href='http://jade-lang.com/') jade
    td
     a(href='http://raphaeljs.com/') raphaeljs

table
  tr
    th MVC
    th Templating
    th Libraries
  tr
    td
     p Ember seamed easier at first, but I'll definitely give backbone a try soon enough! Coffeescript works pretty nicely with brunch and it's a nice language to use. 
    td
     p Standard templating engines in the node community. 
    td
     p Bootstrap is extremely useful and there is no reason not to use it! (No worries, I don't use all of it, only the parts we need.  <a href="http://twitter.github.com/bootstrap/customize.html">hint</a>
