#header
  .container_LogoSearch
    a.logo(href='#')
      img(src='graphic_elements/logo/logo_001.png')
      span
    .search_area
      form#searchform(action='http://www.wpthemegenerator.com', method='get', name='s')
        input.s(name='s', type='text', value='Search...', onclick='this.value=\'\';')
        input(type='hidden', value='', name='themedemo')
        input#searchsubmit(type='submit', value='', name='btn_search')
    //
       end search 
    ul.icon_socials
      li.ic_plus
        a(rel='', href='#', title='Visit us on Facebook')
      li.ic_linkedin
        a(rel='', href='#', title='Follow us on Twitter')
      li.ic_rssmail
        a(rel='', href='#', title='RSS Feed')
  .container_menu
    .menu-wtg-container
      ul#menu-wtg.menu
        li#menu-item-20.menu-item.menu-item-type-post_type.menu-item-object-page.current_page_parent.menu-item-20
          a(href='#') Blog
        li#menu-item-13.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-13
          a(href='#') Services
        li#menu-item-14.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-14
          a(href='#') Products
        li#menu-item-15.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-15
          a(href='#') Gallery
        li#menu-item-16.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-16
          a(href='#') Portfolio
        li#menu-item-455.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-455
          a(href='#') Sample Pages
          ul.sub-menu
            li#menu-item-460.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-460
              a(href='#') Drop Down
              ul.sub-menu
                li#menu-item-461.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-461
                  a(href='#') Landing Page
                li#menu-item-22.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-22
                  a(href='#') Menu Item
                  ul.sub-menu
                    li#menu-item-465.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-465
                      a(href='#') Menu Item
                li#menu-item-463.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-463
                  a(href='#') Menu Item
                  ul.sub-menu
                    li#menu-item-464.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-464
                      a(href='#') Menu Item
                      ul.sub-menu
                        li#menu-item-466.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-466
                          a(href='#') Menu Item
                          ul.sub-menu
                            li#menu-item-462.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-462
                              a(href='#') Menu Item
            li#menu-item-12.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-12
              a(href='#') Contact
            li#menu-item-11.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-11
              a(href='#') Testimonials
            li#menu-item-469.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-469
              a(href='#') Full Width
            li#menu-item-470.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-470
              a(href='#') Sample Home
.bar_separate.header_separate
