doctype 5
html
  head
    title= title

    link(href='stylesheets/app.css', rel='stylesheet', type='text/css')

    link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')

    //
       Le HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
  body(data-spy='scroll', data-target='.subnav', data-offset='50')
    script(type='text/x-handlebars', data-template-name='application')
      {{outlet}}

    include includes/home
    include includes/music
    include includes/portfolio
    include includes/about


    //
       Le javascript
    //
       Placed at the end of the document so the pages load faster 

    // Vendor
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      // Ember
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0.beta6/handlebars.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/ember.js/1.0.pre/ember-1.0.pre.min.js')
      // Masonry
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/masonry/2.1.04/jquery.masonry.min.js')
      // Raphael
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
      // Gitview
    script(src='https://raw.github.com/bouchon/Gitview/master/Gitview.js')


    script(type='text/javascript', src='javascripts/app.js')
    script(type='text/javascript', src='javascripts/vendor.js')
    <script>require('js/app');</script>
