!!! 5
html
  head
    title Piotr Yordanov
    link(rel='stylesheet', href='/index.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0.beta6/handlebars.min.js')
    script(type='text/javascript', src='http://cloud.github.com/downloads/emberjs/ember.js/ember-latest.js')
    script(type='text/javascript', src='app.js')

  body#wptg_page.blog(style='background-color: rgb(192, 191, 175); background-image: url(\'pattern_012.png\');')
    body.blog
      #body_theme.body_theme(style='font-family: \'News Cycle\',sans-serif; font-size: 14px;')
    script(type='text/x-handlebars', data-template-name='application')
      .clipart(style='background-image: url(\'clipart_046.png\'); background-position: center top;')
        .lay_base.header_shine(style='background-image: url(\'shine_007.png\');')
      .wrapper_header(style='background-color: transparent;')
        .lay_base.header_shadow(style='display: block; background-repeat: no-repeat no-repeat;')
        #header(style='padding: 23px 0px;')
          .container_LogoSearch
            .search_area(style='background-image: url(\'search_026.png\'); height: 22px; width: 228px; padding: 7px 0px 10px 7px; margin: 20.5px 0px 0px;')
              form#searchform(action='http://piotry.me', method='get', name='s')
                input.s(style='height: 22px; float: left; width: 176px; color: rgb(180, 180, 180);', name='s', value='Search...', onclick='this.value=\'\';', type='text')
                input(value='', name='themedemo', type='hidden')
                input#searchsubmit(style='height: 22px; float: left; width: 23px;', value='', name='btn_search', type='submit')
            a.logo(href='http://piotry.me')
              img(src='logo_003.png')
              span
            ul.icon_socials(style='margin: 18px 10px 0px;')
              li.ic_twitter(style='background-image: url(\'setpack_social_031.png\'); height: 44px; width: 45px; background-position: -45px center;')
                a(rel='', href='https://twitter.com/#!/yordaKhof', title='Follow us on Twitter')
              li.ic_linkedin(style='background-image: url(\'setpack_social_031.png\'); height: 44px; width: 45px; background-position: -225px center;')
                a(title='Linked-in', href='http://www.linkedin.com/pub/piotr-yordanov/26/5a4/207', rel='')
            {{view App.NavbarView controllerBinding="controller.controllers.navbarController"}}
      {{outlet}}

    script(type='text/x-handlebars', data-template-name='navbar')
      .container_menu(style='background-image: url(\'menu_086.png\'); height: 57px; margin: 0px auto;')
        .menu-wtg-container
          ul#menu-wtg.menu
            <li>{<a style='line-height: 48px; color: rgb(210, 207, 204); font-size: 14px; ', href="#" {{action gotoHome}}>Home</a>,</li>
            <li><a style='line-height: 48px; color: rgb(210, 207, 204); font-size: 14px; ', href="Music" >Music</a>}</li>


    script(type='text/x-handlebars', data-template-name='home')
      .global_wrapper.wrap_lay5(style='background-color: rgb(86, 86, 86); background-image: url(\'pattern_070.png\'); display: block;')
        .wrapper_content(style='background-color: transparent; height: 450px')
          <h2>Welcome</h2>

    script(type='text/x-handlebars', data-template-name='Music')
      .global_wrapper.wrap_lay5(style='background-color: rgb(86, 86, 86); background-image: url(\'pattern_070.png\'); display: block;')
        .wrapper_content(style='background-color: transparent; height: 450px')
