body.blog(style='background-color: rgb(245, 242, 245); background-image: url(\'pattern_012.png\'); display: block;')
  #body_theme.body_theme
    .clipart(style='background-image: url(\'clipart_031.png\'); background-position: center top;')
      .lay_base.header_shine(style='background-image: url(\'shine_011.png\');')
    .global_wrapper.wrap_lay6(style='background-color: rgb(228, 228, 228); background-image: url(\'pattern_142.png\');')
      .wrapper_header(style='height:90px; background-color: transparent;')
        .lay_base.header_pattern(style='display: none;')
        .lay_base.header_shadow
        #header(style='padding: 23px 0px;')
          .container_LogoSearch
            .head_post(style='float:left;')
              h2.post_title Hi! I'm Piotr Yordanov (-tUrG0n-)
            //
              .search_area
                form#searchform(action='http://www.wpthemegenerator.com/', method='get', name='s')
                  input.s(name='s', value='Search...', onclick='this.value=\'\';', type='text')
                  input(value='', name='themedemo', type='hidden')
                  input#searchsubmit(value='', name='btn_search', type='submit')

            ul.icon_socials(style='margin: 22px 10px 0pt;')
              li.ic_text(style='width: 174px;')
                .head_post
                  h5.post_title(style='width: 174px; margin:5px') Find me here ->
              li.ic_twitter(style='background-image: url(\'setpack_social_018.png\'); background-position: -34px 50%; height: 36px; width: 34px;')
                a(rel='', href='https://twitter.com/#!/yordaKhof', title='Follow me on Twitter')
              li.ic_linkedin(style='background-image: url(\'setpack_social_018.png\'); background-position: -170px 50%; height: 36px; width: 34px;')
                a(rel='', href='http://www.linkedin.com/pub/piotr-yordanov/26/5a4/207', title='Linked-in')
          //
            .container_menu(style='margin: 0pt auto; background-image: url(\'menu_017.png\'); height: 48px;')
              .menu-wtg-container
                ul#menu-wtg.menu
                  li#menu-item-20.menu-item.menu-item-type-post_type.menu-item-object-page.current_page_parent.menu-item-20
        .bar_separate.header_separate(style='display: none;')
      .wrapper_slider(style='background-color: transparent;')
        .lay_base.slider_pattern(style='display: none;')
        .lay_base.slider_shadow(style='display: none;')
        .bar_separate.content_separate(style='display: none;')
        .slider_area(style='background-image: url(\'sld_042_frm.png\'); width: 900px; height: 366px; padding: 20px 20px 0pt;')
          .slider_content
            ul#accordion-slider(style='margin-right: none;')
              li
                a(href='/code')
                  img(src='code.jpg', width='100%', height='346', alt='slider_img_0 Title')
              li
                a(href='/music')
                  img(src='music.jpg', width='90%', height='346', alt='slider_img_0 Title')
      .wrapper_content(style='background-color: transparent;')
        .lay_base.content_pattern(style='display: none;')
        .bar_separate.footer_separate
        .lay_base.content_shadow(style='display: none;')
        #content
          .clear
          .main_content(style='width: 900px;')
            if music
              iframe(src='http://embed.verite.co/timeline/?source=0AiOdIrDgLpfvdGdfZFVpY0JxZ2JsenBoZzBZb3dBQXc&font=Bevan-PotanoSans&maptype=toner&lang=en&width=900&height=650', width='900', height='650', frameborder='0')
            .navigation
          .clear
link(rel='stylesheet', type='text/css', href='http://www.wpthemegenerator.com/wp-content/themes/wts-frw-tool2/css/reset.ie.css')
link(rel='stylesheet', type='text/css', href='http://www.wpthemegenerator.com/wp-content/themes/wts-frw-tool2/css/ie7.css')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
script(type='text/javascript', src='http://kwicks.googlecode.com/svn/branches/v1.5.1/Kwicks/jquery.kwicks-1.5.1.pack.js')
script(type='text/javascript', src='/portfolio.js')
