.wrapper_slider
  //
     layout slider 
  .lay_base.slider_pattern
  .lay_base.slider_shadow
  .bar_separate.content_separate
  //
     end layout slider 
  .slider_area
    .slider_content
      script(type='text/javascript', src='js/anythingslider.js')
      script
        jQuery(document).ready(function(){
        jQuery('#slider').anythingSlider({
        easing : "linear",
        buildNavigation : false,
        buildStartStop : false,
        autoPlay : true,
        delay : 50000	});
        if(typeof(sessvars) != 'undefined'){
        if(sessvars['.anythingSlider span.arrow a']?sessvars['.anythingSlider span.arrow a']:'null' != 'null' || sessvars['div.anythingSlider .forward']?sessvars['div.anythingSlider .forward']:'null' != 'null' || sessvars['div.anythingSlider .back']?sessvars['div.anythingSlider .back']:'null' != 'null'){
        if(sessvars['.anythingSlider span.arrow a'] == 'none' || sessvars['div.anythingSlider .back'] == 'none'){
        jQuery('.anythingSlider span.arrow a').css({'background-image': sessvars['arrow_pos_abs_bkg'], 'width': sessvars['arrow_pos_abs_width'], 'height': sessvars['arrow_pos_abs_height']});
        jQuery('.anythingSlider span.arrow').css('top', sessvars['arrow_pos_abs_top']);
        jQuery('div.anythingSlider .back').css('left', sessvars['arrow_pos_abs_sides']);
        jQuery('div.anythingSlider .forward').css('right', sessvars['arrow_pos_abs_sides']);
        }else{
        jQuery('.anythingSlider span.arrow a').attr('style', sessvars['.anythingSlider span.arrow a']);
        jQuery('div.anythingSlider .back').attr('style', sessvars['div.anythingSlider .back']);
        jQuery('div.anythingSlider .forward').attr('style', sessvars['div.anythingSlider .forward']);
        }
        }
        }
        });
      .anythingSlider
        ul#slider.anythingBase
          li.panel
            .contentSlide
              .info_content
                h1
                  a(href='#') Download both WordPress and HTML/CSS versions
                p
                  | All themes you create with our generator, can be downloaded on both basic html/css and WordPress, and WordPress version will include all features of our Base Framework, additionally you can store the themes you have already created and save them, so they can be edited or downloaded on the future, themes will be saved [...]
                a.more-link(href='#')
                  span.more-link_right
                  | Read More
                  span.more-link_left
              img.attachment-post-thumbnail.wp-post-image(width='250', height='250', src='http://www.wpthemegenerator.com/wp-content/uploads/2012/01/Statistic-250x250.png', alt='Statistic', title='Statistic')
          li.panel
            .contentSlide
              .info_content
                h1
                  a(href='#') Create unlimited layouts.
                p
                  | With our framework, you can mix 7 different combinations of positions, and you will be able to create countless layouts with our dynamic sidebars generator, which can create as many sidebars (or widget areas) as you wish, and add to those areas as many boxes as you want (images, text, menus, galleries, contact forms, you [...]
                a.more-link(href='#')
                  span.more-link_right
                  | Read More
                  span.more-link_left
              img.attachment-post-thumbnail.wp-post-image(width='250', height='220', src='http://www.wpthemegenerator.com/wp-content/uploads/2011/11/CSS3forDesigners2-250x220.jpg', alt='CSS3forDesigners2', title='CSS3forDesigners2')
    //
       end slider content 
  //
     end slider area 
//
   end wrapper slider 


