!!! 5
html
  head
    title Piotr Yordanov
    link(rel='stylesheet', href='/index.css')
  body
    html.csstransforms.no-csstransforms3d.csstransitions(lang='en-US', xmlns='http://www.w3.org/1999/xhtml', dir='ltr')
    head
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      body#wptg_page.blog(style='background-color: rgb(192, 191, 175); background-image: url(\'pattern_012.png\');')
        body.blog
          #body_theme.body_theme(style='font-family: \'News Cycle\',sans-serif; font-size: 14px;')
            //
              <end>fullheader_menu_bar </end>
            .clipart(style='background-image: url(\'clipart_046.png\'); background-position: center top;')
              .lay_base.header_shine(style='background-image: url(\'shine_007.png\');')
            .wrapper_header(style='background-color: transparent;')
              .lay_base.header_shadow(style='display: block; background-repeat: no-repeat no-repeat;')
              #header(style='padding: 23px 0px;')
                .container_LogoSearch
                  a.logo(href='http://piotry.me')
                    img(src='logo_003.png')
                    span
                  .search_area(style='background-image: url(\'search_026.png\'); height: 22px; width: 228px; padding: 7px 0px 10px 7px; margin: 20.5px 0px 0px;')
                    form#searchform(action='http://piotry.me', method='get', name='s')
                      input.s(style='height: 22px; float: left; width: 176px; color: rgb(180, 180, 180);', name='s', value='Search...', onclick='this.value=\'\';', type='text')
                      input(value='', name='themedemo', type='hidden')
                      input#searchsubmit(style='height: 22px; float: left; width: 23px;', value='', name='btn_search', type='submit')
                  ul.icon_socials(style='margin: 18px 10px 0px;')
                    li.ic_twitter(style='background-image: url(\'setpack_social_031.png\'); height: 44px; width: 45px; background-position: -45px center;')
                      a(rel='', href='https://twitter.com/#!/yordaKhof', title='Follow us on Twitter')
                    li.ic_linkedin(style='background-image: url(\'setpack_social_031.png\'); height: 44px; width: 45px; background-position: -225px center;')
                      a(title='Linked-in', href='http://www.linkedin.com/pub/piotr-yordanov/26/5a4/207', rel='')
                .container_menu(style='background-image: url(\'menu_086.png\'); height: 57px; margin: 0px auto;')
                  .menu-wtg-container
                    ul#menu-wtg.menu
                      li#menu-item-20.menu-item.menu-item-type-post_type.menu-item-object-page.current_page_parent.menu-item-20
                        //
                           a(href='http://www.wpthemegenerator.com/posts/') Blog
            .global_wrapper.wrap_lay5(style='background-color: rgb(86, 86, 86); background-image: url(\'pattern_070.png\'); display: block;')
              .wrapper_content(style='background-color: transparent; height: 450px')
