.container_widgets_pieces
  .widget_corner.widget_top_left.widget_top_left_023
    .widget_token_left.widget_token_left_023
  .widget_topbottom.widget_top_center.widget_top_center_023
  .widget_corner.widget_top_right.widget_top_right_023
    .widget_token_right.widget_token_right_023
  .widget_sides.widget_middle_left
  .widget_center.widget_content
    h3 Widgets 3
    .textwidget
      div(style='border: 5px solid white; box-shadow: 0 0px 5px rgba(0, 0, 0, .5); ;width: 226px; height: 107px; margin: 0 auto;')
        img(src='server/img/features_11.jpg', width='226', height='107')
      br
      p(style='text-align: justify;')
        | If you become premium, you will have access to our shock bundle: 30.000 Iconshock icons, 50 vector characters, 99 psd themes, 20 cv templates, 500 Themeshock exclusive themes, 500 logo templates and hundreds of design element sets. All included source files.
  .widget_sides.widget_middle_right.widget_middle_right_023
  .widget_corner.widget_bottom_left.widget_bottom_left_023
  .widget_topbottom.widget_bottom_center.widget_bottom_center_023
  .widget_corner.widget_bottom_right.widget_bottom_right_023
.widget_token_bottom.widget_token_bottom_023
