body
  background-image: url("/images/bg.png")
  font-size: 1.188em
  width: 100%
  margin: 0

#container
  // Boarder and background
  background: rgba(255, 255, 255, 0.4)
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3)
  padding: 15px
  // position
  max-width: 1140px
  margin: auto
