body
  background-image: url("/images/paper.png")
  font-size: 1.188em
  width: 100%
  margin: 0
  a
    color: #9595f1
  a:hover
    color: #5f5feb

#container
  // Boarder and background
  background: rgba(255, 255, 255, 0.9)
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3)
  padding: 15px

  // position
  width: 85%
  margin: auto

  // Fonts
  font-family: 'Roboto' !important
  color: #57534A
  font-style: normal
  font-weight: 400
