@import url(http://fonts.googleapis.com/css?family=Paprika);

#header
  margin-top: 20px
  position: relative
  height: 85px
  .logo
    position: absolute
    margin-left: 20px
    width: 100px
    height: 20px
  .row-fluid
    position: absolute
    margin-top: 10px
    p
      font-family: 'Paprika', cursive
      font-style: italic
      font-size: 18px
      text-shadow: 1px 1px 1px #CCC
      color: gray
    .menu
      ul
        font-size: 18px
        float: right
        width: 100%
        li
          float: right
          width: 20%
          text-align: center
          display: inline-block
          .link
            text-decoration: none
            color: gray
            .icon, .text
              -webkit-transition: all 0.2s ease-in
              -moz-transition: all 0.2s ease-in
              -ms-transition: all 0.2s ease-in
              transition: all 0.2s ease-in
              height: 25px
          .link:hover
            .icon, .text
              color: orange
