!!! transitional
html(dir='ltr', lang='en-US', xmlns='http://www.w3.org/1999/xhtml')
  head
    link(rel='shortcut icon', href='#')
    title  Wordpress Theme Generator
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='description', content='Wordpress theme generator: Create unlimited themes by changing, combining (or uploading) any design element, you can save it for later edition and/or download it both in WordPress or HTML/CSS')
    link(rel='alternate', type='application/rss+xml', title='Wordpress Theme Generator', href='#')
    link(href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css', rel='stylesheet')
    link(href='http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css', rel='stylesheet')
    //if IE
    //if lte IE 8
    style(type='text/css')
      @import url(style.css);
      @import url(css/last_change.css);
    //
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    //
    link(rel='alternate', type='application/rss+xml', title='Wordpress Theme Generator » Feed', href='#')
    link(rel='alternate', type='application/rss+xml', title='Wordpress Theme Generator » Comments Feed', href='#')
    link(rel='EditURI', type='application/rsd+xml', title='RSD', href='#')
    link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='#')

    meta(name='generator', content='WordPress 3.3.1')
    //
      <style type="text/css"> #header { background: url(); } </style>
    style(type='text/css')
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
  body.blog
    #body_theme.body_theme
      .clipart
        .lay_base.header_shine
      .wrapper_header
        .lay_base.header_pattern
        .lay_base.header_shadow
        include header
      .global_wrapper.wrap_lay4
        .wrapper_content
          .lay_base.content_pattern
          .bar_separate.footer_separate
          .lay_base.content_shadow
          #content
            .main_content
              iframe(src='http://embed.verite.co/timeline/?source=0AiOdIrDgLpfvdGdfZFVpY0JxZ2JsenBoZzBZb3dBQXc&font=Bevan-PotanoSans&maptype=toner&lang=en&width=900&height=650', width='900', height='650', frameborder='0')
              .blog_boxes
                .container_posts_pieces
                  .post_corner.post_top_left
                    .post_token_left
                  .post_topbottom.post_top_center
                  .post_corner.post_top_right
                    .post_token_right
                  .post_sides.post_middle_left
                  .post_center.post_content
                    #post-1.post-1.post.type-post.status-publish.format-standard.hentry.category-uncategorized.entry
                      .head_post
                        h2.post_title
                          Create unlimited layouts.
                        span.comments_link
                          -
                      .entry_post
                        p
                          img.size-full.wp-image-327.alignleft(title='img3', src='server/img/features_3.jpg', alt='', width='200', height='140', style='border: 3px solid white; box-shadow: 0 0px 5px rgba(0, 0, 0, .5);')
                          | With our framework, you can mix 7 different combinations of positions, and you will be able to create countless layouts with our dynamic sidebars generator, which can create as many sidebars (or widget areas) as you wish, and add to those areas as many boxes as you want (images, text, menus, galleries, contact forms, you name it), which gives you the option of creating countless layouts, with multiple columns and rows.
                  .post_sides.post_middle_right
                  .post_corner.post_bottom_left
                  .post_topbottom.post_bottom_center
                  .post_corner.post_bottom_right
                //
                   end container_posts_pieces 
                .post_token_bottom
              //
                 end blog_boxes 
              .navigation
            .clear
            .wrapper_footer
              .lay_base.footer_pattern
              .lay_base.footer_shadow
              #footer
                .clear
                .footer_sidebar

    script(type='text/javascript', src='js/menu.js')
    script(type='text/javascript', src='js/accordion.js')
    script(type='text/javascript', src='js/carousel.js')
    script(type='text/javascript', src='js/bootstrap.min.js?ver=2.0.1')
    script(type='text/javascript', src='js/auto_tooltip_popover.js?ver=2.0.1')
  link(rel='stylesheet', type='text/css', href='css/reset.ie.css')
  link(rel='stylesheet', type='text/css', href='css/ie7.css')
