
/* ::::: http://127.0.0.1:5000/index.css ::::: */

.container_menu { height: 20px; margin: 0px auto; clear: both; padding: 0px 25px; width: 910px; }
.container_menu ul { height: 100%; margin: 0px; }
.container_menu ul li { float: left; display: block; height: 100%; list-style: none outside none; padding: 0px 10px; margin: 0px 1px; position: relative; }
* { margin: 0px; padding: 0px; }
code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext { font: inherit; white-space: normal; }
a, img, a img, iframe, form, abbr, acronym, object, applet, table, a abbr, a acronym { border-width: 0px; }
html { font-family: arial,sans-serif; }
html { font-family: sans-serif; }
ul, ol, dir, menu { list-style: none outside none; }
a { color: inherit; }
img { border: medium none; margin: 0px; }
html { font-size: 100%; }
body { font-size: 100%; }
a { text-decoration: none; outline: medium none; }
code, kbd, samp, pre, tt, var, input[type="text"], input[type="password"], textarea { font-size: 100%; outline: medium none; }
input, select, button { cursor: pointer; }
input[type="text"], input[type="password"] { cursor: text; }
input[type="hidden"] { display: none; }
ul { list-style: disc outside none; }
@media all and (min-width: 0px) {
}
fieldset > :first-child { margin-top: 0px; }
input { padding: 0px; }
div { position: relative; }
ul, ol { margin-left: 0px; }
@font-face {
	font-family: "Crushed";
	font-style: normal;
	font-weight: 400;
	src: local("Crushed"), local("Crushed-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Michroma";
	font-style: normal;
	font-weight: 400;
	src: local("Michroma"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Volkhov";
	font-style: normal;
	font-weight: 400;
	src: local("Volkhov Regular"), local("Volkhov-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Varela";
	font-style: normal;
	font-weight: 400;
	src: local("Varela"), url('@22@22') format("woff");
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Yanone Kaffeesatz";
	font-style: normal;
	font-weight: 400;
	src: local("Yanone Kaffeesatz Regular"), local("YanoneKaffeesatz-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Righteous";
	font-style: normal;
	font-weight: 400;
	src: local("Righteous"), local("Righteous-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Ultra";
	font-style: normal;
	font-weight: 400;
	src: local("Ultra"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Sarina";
	font-style: normal;
	font-weight: 400;
	src: local("Sarina"), local("Sarina-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Monoton";
	font-style: normal;
	font-weight: 400;
	src: local("Monoton"), local("Monoton-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Quattrocento Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Quattrocento Sans"), local("QuattrocentoSans"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 100;
	src: local("Raleway-Thin"), url('@22@22') format("woff");
}
@font-face {
	font-family: "News Cycle";
	font-style: normal;
	font-weight: 400;
	src: local("News Cycle Regular"), local("NewsCycle-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Paytone One";
	font-style: normal;
	font-weight: 400;
	src: local("Paytone One"), local("PaytoneOne"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Puritan";
	font-style: normal;
	font-weight: 400;
	src: local("Puritan Regular"), local("Puritan-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Yellowtail";
	font-style: normal;
	font-weight: 400;
	src: local("Yellowtail"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Molengo";
	font-style: normal;
	font-weight: 400;
	src: local("Molengo"), local("Molengo-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Passion One";
	font-style: normal;
	font-weight: 400;
	src: local("Passion One"), local("PassionOne-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Wire One";
	font-style: normal;
	font-weight: 400;
	src: local("Wire One"), local("WireOne"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Yesteryear";
	font-style: normal;
	font-weight: 400;
	src: local("Yesteryear"), local("Yesteryear-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Nixie One";
	font-style: normal;
	font-weight: 400;
	src: local("Nixie One"), local("NixieOne-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Syncopate";
	font-style: normal;
	font-weight: 400;
	src: local("Syncopate"), local("Syncopate-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Rokkitt";
	font-style: normal;
	font-weight: 400;
	src: local("Rokkitt"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Droid Serif";
	font-style: normal;
	font-weight: 400;
	src: local("Droid Serif"), local("DroidSerif"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Acme";
	font-style: normal;
	font-weight: 400;
	src: local("Acme"), local("Acme-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Coustard";
	font-style: normal;
	font-weight: 400;
	src: local("Coustard"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Antic";
	font-style: normal;
	font-weight: 400;
	src: local("Antic"), local("Antic-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Amaranth";
	font-style: normal;
	font-weight: 400;
	src: local("Amaranth"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Anonymous Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Anonymous Pro"), local("AnonymousPro"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Days One";
	font-style: normal;
	font-weight: 400;
	src: local("Days One"), local("DaysOne-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Gudea";
	font-style: normal;
	font-weight: 400;
	src: local("Gudea"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Anton";
	font-style: normal;
	font-weight: 400;
	src: local("Anton"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Bangers";
	font-style: normal;
	font-weight: 400;
	src: local("Bangers"), local("Bangers-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Didact Gothic";
	font-style: normal;
	font-weight: 400;
	src: local("Didact Gothic"), local("DidactGothic"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Damion";
	font-style: normal;
	font-weight: 400;
	src: local("Damion"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Contrail One";
	font-style: normal;
	font-weight: 400;
	src: local("Contrail One"), local("ContrailOne-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Belgrano";
	font-style: normal;
	font-weight: 400;
	src: local("Belgrano"), local("Belgrano-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Annie Use Your Telescope";
	font-style: normal;
	font-weight: 400;
	src: local("Annie Use Your Telescope"), local("AnnieUseYourTelescope"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Droid Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Droid Sans"), local("DroidSans"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Gruppo";
	font-style: normal;
	font-weight: 400;
	src: local("Gruppo"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Federo";
	font-style: normal;
	font-weight: 400;
	src: local("Federo"), local("Federo-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Buda";
	font-style: normal;
	font-weight: 300;
	src: local("Buda"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Changa One";
	font-style: normal;
	font-weight: 400;
	src: local("Changa One"), local("ChangaOne"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Actor";
	font-style: normal;
	font-weight: 400;
	src: local("Actor Regular"), local("Actor-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Cuprum";
	font-style: normal;
	font-weight: 400;
	src: local("Cuprum"), local("Cuprum-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Baumans";
	font-style: normal;
	font-weight: 400;
	src: local("Baumans"), local("Baumans-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Bowlby One";
	font-style: normal;
	font-weight: 400;
	src: local("Bowlby One"), local("BowlbyOne"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Alike Angular";
	font-style: normal;
	font-weight: 400;
	src: local("Alike Angular"), local("AlikeAngular-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 400;
	src: local("Bitter-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Francois One";
	font-style: normal;
	font-weight: 400;
	src: local("Francois One Regular"), local("FrancoisOne-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Amatic SC";
	font-style: normal;
	font-weight: 400;
	src: local("Amatic SC Regular"), local("AmaticSC-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Dorsa";
	font-style: normal;
	font-weight: 400;
	src: local("Dorsa"), local("Dorsa-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Bree Serif";
	font-style: normal;
	font-weight: 400;
	src: local("Bree Serif"), local("BreeSerif-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Carme";
	font-style: normal;
	font-weight: 400;
	src: local("Carme Regular"), local("Carme"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Crushed";
	font-style: normal;
	font-weight: 400;
	src: local("Crushed"), local("Crushed-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Duru Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Duru Sans"), local("DuruSans-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Istok Web";
	font-style: normal;
	font-weight: 400;
	src: local("Istok Web Regular"), local("IstokWeb-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Andika";
	font-style: normal;
	font-weight: 400;
	src: local("Andika"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Cabin";
	font-style: normal;
	font-weight: 400;
	src: local("Cabin Regular"), local("Cabin-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Cabin Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Cabin Condensed"), local("CabinCondensed"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Allan";
	font-style: normal;
	font-weight: 700;
	src: local("Allan"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Alfa Slab One";
	font-style: normal;
	font-weight: 400;
	src: local("Alfa Slab One"), local("AlfaSlabOne-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Alice";
	font-style: normal;
	font-weight: 400;
	src: local("Alice"), local("Alice-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Bowlby One SC";
	font-style: normal;
	font-weight: 400;
	src: local("Bowlby One SC Regular"), local("BowlbyOneSC-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Abril Fatface";
	font-style: normal;
	font-weight: 400;
	src: local("Abril Fatface"), local("AbrilFatface-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Bevan";
	font-style: normal;
	font-weight: 400;
	src: local("Bevan"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Candal";
	font-style: normal;
	font-weight: 400;
	src: local("Candal"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Exo";
	font-style: normal;
	font-weight: 400;
	src: local("Exo Regular"), local("Exo-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Brawler";
	font-style: normal;
	font-weight: 400;
	src: local("Brawler"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Inder";
	font-style: normal;
	font-weight: 400;
	src: local("Inder"), local("Inder-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Abel";
	font-style: normal;
	font-weight: 400;
	src: local("Abel"), local("Abel-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Boogaloo";
	font-style: normal;
	font-weight: 400;
	src: local("Boogaloo"), local("Boogaloo-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Arimo";
	font-style: normal;
	font-weight: 400;
	src: local("Arimo"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Josefin Slab";
	font-style: normal;
	font-weight: 400;
	src: local("Josefin Slab"), local("JosefinSlab"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Jockey One";
	font-style: normal;
	font-weight: 400;
	src: local("Jockey One"), local("JockeyOne-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Mako";
	font-style: normal;
	font-weight: 400;
	src: local("Mako"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Maiden Orange";
	font-style: normal;
	font-weight: 400;
	src: local("Maiden Orange"), local("MaidenOrange-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Magra";
	font-style: normal;
	font-weight: 400;
	src: local("Magra"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Just Another Hand";
	font-style: normal;
	font-weight: 400;
	src: local("Just Another Hand"), local("JustAnotherHand-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Marvel";
	font-style: normal;
	font-weight: 400;
	src: local("Marvel"), local("Marvel-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Lobster Two";
	font-style: normal;
	font-weight: 400;
	src: local("Lobster Two"), local("LobsterTwo"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Kameron";
	font-style: normal;
	font-weight: 400;
	src: local("Kameron"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Jura";
	font-style: normal;
	font-weight: 400;
	src: local("Jura Regular"), local("Jura-Regular"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Lobster";
	font-style: normal;
	font-weight: 400;
	src: local("Lobster"), url('@22@22') format("woff");
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: local("Lato Regular"), local("Lato-Regular"), url('@22@22') format("woff");
}
body { font-family: Tahoma,Geneva,sans-serif; font-size: 12px; color: rgb(102, 102, 102); }
.wrapper_header { min-height: 50px; background-position: center top; background-repeat: repeat-x; position: relative; z-index: 20; }
.wrap_lay2, .wrap_lay4, .wrap_lay5, .wrap_lay6, .wrap_lay7 { margin: 0px auto 60px; padding: 20px 0px; border-radius: 5px 5px 5px 5px; box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.6); z-index: 3; }
.wrap_lay5 { width: 1000px; }
.clipart { width: 100%; height: 100%; top: 0px; left: 0px; background-repeat: no-repeat; background-position: center top; z-index: 2; position: absolute; }
.lay_base { position: absolute; width: 100%; left: 0px; top: 0px; height: 450px; }
.header_shine { background-repeat: repeat-x; background-position: center top; }
.header_shadow, .slider_shadow, .content_shadow { bottom: 0px; background-position: center top; background-repeat: no-repeat; z-index: 5; }
#header { width: 960px; position: relative; margin: auto; padding: 23px 10px; background-repeat: no-repeat; z-index: 20; }
#header a.logo { float: left; margin: 10px 10px 0px; line-height: normal; }
#header a.logo:hover { text-decoration: none; opacity: 0.9; }
#header .search_area { float: right; }
#header .search_area input { border: 0px none; background: none repeat scroll 0% 0% transparent; font-size: 14px; }
#header .search_area input[type="text"] { padding: 0px 10px; }
.container_LogoSearch { overflow: hidden; margin: 0px 0px 10px; }
.icon_socials { float: right; margin: 17px 10px; }
ul.icon_socials li { float: left; display: block; margin: 0px 2px; list-style: none outside none; width: 30px; height: 34px; }
ul.icon_socials li:hover { opacity: 0.8; }
ul.icon_socials li a { display: block; width: 100%; height: 100%; }
.wrapper_content { min-height: 200px; background: none repeat scroll 0% 0% rgb(228, 228, 228); }
audio:not([controls]) { display: none; }
html { font-size: 100%; }
a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
a:hover, a:active { outline: 0px none; }
button, input, select, textarea { margin: 0px; font-size: 100%; vertical-align: middle; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
body { margin: 0px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px; line-height: 18px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
ul, ol { padding: 0px; margin: 0px 0px 9px 25px; }
ul { list-style: disc outside none; }
li { line-height: 18px; }
form { margin: 0px 0px 18px; }
label, input, button, select, textarea { font-size: 13px; font-weight: normal; line-height: 18px; }
input, button, select, textarea { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
input, textarea, select, .uneditable-input { display: inline-block; width: 210px; height: 18px; padding: 4px; margin-bottom: 9px; font-size: 13px; line-height: 18px; color: rgb(85, 85, 85); border: 1px solid rgb(204, 204, 204); border-radius: 3px 3px 3px 3px; }
input[type="button"], input[type="reset"], input[type="submit"] { width: auto; height: auto; }
input[type="hidden"] { display: none; }
input, textarea { box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; }
input:focus, textarea:focus { border-color: rgba(82, 168, 236, 0.8); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6); outline: 0px none; }
input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid { color: rgb(185, 74, 72); border-color: rgb(238, 95, 91); }
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus { border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px rgb(248, 185, 183); }
:-moz-placeholder { color: rgb(153, 153, 153); }
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th { background-color: rgb(249, 249, 249); }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
.header_shine { background-image: none; }
.search_area { background-image: url('search_052.png'); height: 27px; width: 230px; padding: 7px 0px 10px 5px; margin: 18px 0px 0px; }
.search_area input[type="text"] { height: 27px; float: left; width: 166px; color: rgb(255, 255, 255); }
.search_area input[type="submit"] { height: 27px; float: left; width: 30px; }
.container_menu { background-image: url('menu_084.png'); height: 46px; }
.header_shadow { display: block; background-repeat: no-repeat no-repeat; }
.icon_socials li.ic_twitter { background-image: url('setpack_social_002.png'); height: 36px; width: 32px; background-position: -32px 50%; }
ul.icon_socials { margin: 22px 10px 0px; }
.body_theme { font-family: 'News Cycle',sans-serif; font-size: 14px; }
body { background-color: rgb(247, 247, 247); background-image: none; }
.clipart { background-image: none; background-position: 50% 100%; }
.wrapper_content { background-color: rgb(232, 232, 232); }
.wrapper_header {  }
#header {  }
.wrap_lay5 {  }
.global_wrapper {  }
body { background-color: rgb(247, 247, 247); background-image: none; }
.clipart { background-image: none; background-position: 50% 100%; }
.wrapper_header {  }
#header {  }
.wrap_lay5 {  }
.wrapper_content { background-color: rgb(232, 232, 232); }
@media print, not all {
}
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
html {  }
ul.tg_shp_info li.tg_shp_tools:not(.tg_shp_border) { background: none repeat scroll 0% 0% rgb(229, 229, 229); padding: 3px 0px; margin: 0px 0px 4px; width: 99px; }
