.logo
  img(src="/images/P.Y.png")
.row-fluid
  .span2
  .span4
    p Piotr Yordanov ---
    p Entrepreneur, Hacker and musician
  .span1
  .span5.menu
    ul
      li
        a.link(href="https://github.com/tUrG0n")
          .icon.nav-icon-wrench
          .text projects
      li
        a.link(href="/music")
          .icon.nav-icon-piano
          .text music
      li
        a.link(href="/resume.pdf")
          .icon.nav-icon-address-book
          .text resume
      li
        a.link(href="/")
          .icon.nav-icon-user
          .text about
