.row-fluid
  .span8
    h2 About me!
    img.me(src="/images/piotr.png")

    .bio
      | My name is 
      b Piotr Yordanov. 
      | I studied electrical and computer engineering, though 
      | self learning has proven to be much more rewarding.
      | After all, software engineering resources are available online!
      | Also, I've been playing the piano since the age of 5. Recently,
      | I moved into jazz!
      br
      | Currently, I am the 
      b co-founder 
      | of 
      a(href="http://baytbaytak.com") BaytBaytak
      | , a Beirut based real-estate startup.
      br
  .span4
    .stack
      h2 The Stack
      | This website is powered by 
      a(href="http://nodejs.org") nodejs 
      | on the 
      b backend. 
      | The 
      b frontend 
      | is maintained by 
      a(href="http://brunch.io") brunch.io
      | , its logic is handled by 
      a(href="http://backbonejs.org") backbonejs
      | , and the responsive design provided by 
      a(href="http://twitter.github.com/bootstrap/") twitter-bootstrap 
      | . All of that written with 
      a(href="http://coffeescript.org") coffeescript 
      | from 
      a(href="https://github.com/b4winckler/macvim") macvim 
      .logo
        a(href="http://nodejs.org").node
        a(href="http://coffeescript.org").coffee
        a(href="https://github.com/b4winckler/macvim").vim
        a(href="http://brunch.io").brunch
        a(href="http://backbonejs.org").backbone

.row-fluid
  .span2
    .legend
      h2 My Skills:
      .skills
        ul
          li.zic Music
          li.web WebDev
          li.ai AI
          li.openGL OpenGL
  .span6
    #diagram
    .get
      .arc
        span.text Music
        input.percent(type='hidden', value='93')
        input.color(type='hidden', value='#BEDBE9')
      .arc
        span.text WebDev
        input.percent(type='hidden', value='85')
        input.color(type='hidden', value='#d6bef6')
      .arc
        span.text AI
        input.percent(type='hidden', value='50')
        input.color(type='hidden', value='#7a5aa6')
      .arc
        span.text openGL
        input.percent(type='hidden', value='30')
        input.color(type='hidden', value='#88B8E6')
  .span4
    #twitter
      h2 Latest Tweets
      #tweets
