h2 About me!
.row-fluid
  .span8
    img.me(src="/images/piotr.png")
    .bio
      | My name is 
      b Piotr Yordanov. 
      | I studied electrical and computer engineering, though 
      | self learning has proven to be much much more rewarding.
      | After all, software engineering resources are available online!
      | I've playing playing the piano since the age of 5. Recently,
      | I moved into jazz!
      br
      | Currently, I am the 
      b co-founder 
      | of 
      a(href="http://baytbaytak.com") BaytBaytak
      | , a Beirut based real-estate startup.
      br

.row-fluid
  .span2
    .legend
      h2 My Skills:
      .skills
        ul
          li.zic Music
          li.web WebDev
          li.ai AI
          li.openGL OpenGL
  .span8
    #diagram
    .get
      .arc
        span.text Music
        input.percent(type='hidden', value='93')
        input.color(type='hidden', value='#BEDBE9')
      .arc
        span.text WebDev
        input.percent(type='hidden', value='85')
        input.color(type='hidden', value='#97BE0D')
      .arc
        span.text AI
        input.percent(type='hidden', value='50')
        input.color(type='hidden', value='#D84F5F')
      .arc
        span.text openGL
        input.percent(type='hidden', value='30')
        input.color(type='hidden', value='#88B8E6')
